*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    background-color: rgb(20, 188, 200);
    padding: 1.4rem;
}

h1 {
    font-size: 3.2rem;
    color: #e7129c;
    margin-bottom: 1.6rem;
}

h2 {
    font-size: 2.4rem;
    color: rgb(144, 9, 144);
}

h3 {
    font-size: 2rem;
    margin-top: 1.8rem;
    color: rgb(128, 248, 0);
}