*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    background-color: rgb(20, 188, 200);
    margin-top: 2rem;
    padding: 1.6rem;
}

h1 {
    font-size: 2.8rem;
    color: #bf0d0d;
}

h2 {
    font-size: 2.4rem;
}