*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100vh;
    height: 80vh;
    font-size: 1.6rem;
    background-color: rgb(20, 188, 200);
    margin-top: 2rem;
    padding: 1.6rem;
}

h1 {
    font-size: 2.8rem;
    color: #ff3232;
    font-weight: bold;
}

h2 {
    font-size: 2.2rem;
}